<h2>Sign up</h2>
<div class="sign_up panel">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div><br />

  <div class="field">
    <%= f.text_field :username, placeholder: "@Username" %>
  </div><br />

  <div class="field">
    <%= f.text_field :bio, placeholder: "Your Bio here." %>
  </div><br />


  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>

    <style>
      
        body {
            background: url("/micflip.jpg") no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-backgriund-size: cover;
            -o- background-size: cover;
            background-size: cover;
            padding-bottom: 70px;

          }
          .sign_up {
            float: left;
            width: 175px;
            height: 280px;
            margin-top: 1%;
            margin-left: 17px;
          }
          .field {
            margin-left: 7PX;

          }
          h1, h2, h3{
            color: white;
            margin-left: 5px;
          }
          .text {
            color: white;
            font-weight: bold;
            font-size: 100%;
          }
    </style>


  <div class="container">
    <h1>Welcome!</h1>
    <h3>When you feel there is nothing else you can do, Bark!</h3>
    <p class="text">
        We provide the stage. You provide the way!<br>
        Tell me how you really feel!
      </p>

  </div>


<% end %>

<%= render "devise/shared/links" %>
