<!DOCTYPE html>
<html>
</head>
  <title>Bark</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tags %>
<head>
<body>
<%= render '/layouts/nav' %>

<% if params[:id] != nil %>
  <% @url = '/user/' + params[:id] %>
  <% if current_page?(@url) %>
  <img src="/micflip.jpg" class="profile-banner">
<div class="under">

</div>
  <div class="row">
    <div class="col-sm-12" style="background-color: white;">
      <div class="container">
        <div class="col-sm-3">&nbsp;</div>
        <div class="col-sm-6" style="margin-top 5px">
          <div class="col-sm-2" style="color: white; font-size: 100%; opacity: .50;"><BARKS<br>
              <h6 style="color: #008484; font-size: 150%;">16</h6></div>
          <div class="col-sm-2" style="font-size: 100%; opacity: .50;"><FOLLOWERS<br>
              <h6 style="color: #008484; font-size: 150%;">15</h6></div>
        <div class="col-sm-8" style="text-align: right; margin-top 15px;"><a href="/user/edit"><li type="button" class="btn btn-default" style="color: grey; opacity: 0.8; font-weight: bold;">EDIT PROFILE</li></a></div>

      </div>
      </div>
    </div>
  </div>
  <% end %>
<% end %>

    <div class="container">
  <span class="notice"><%= notice %></span>
  <span class="alert"><%= alert %></span>
    <%= yield %>
</div>
  </body>
</html>
